/* dashboard.css */

body {
  background-color: #f9f5ff;
  color: #2d0c41;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.layout {
  height: 100vh;
}

.main-content {
  margin-left:240px;
  flex: 1;
  padding: 2rem;
  overflow-y: auto;
}

.stats {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.stat-card {
  background-color: white;
  border-radius: 1rem;
  padding: 1.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  flex: 1;
  min-width: 200px;
  text-align: center;
}

.stat-card h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #6b21a8;
}

.graficas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
}

.grafica {
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.grafica h4 {
  text-align: center;
  color: #4c1d95;
  margin-bottom: 1rem;
}

.boton-flotante {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #a855f7;
  color: white;
  border: none;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background 0.3s;
}

.boton-flotante:hover {
  background: #7e22ce;
}
