.publication-container {
  max-width: 800px;
  margin: auto;
  padding: 2rem;
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: var(--shadow);
}

.publication-header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.perfil-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem;
}

.user-info .artist-name {
  font-weight: bold;
  color: var(--primary);
  text-decoration: none;
}

.fecha-publicacion {
  font-size: 0.9rem;
  color: var(--text-muted);
}

.titulo-publicacion {
  font-size: 2rem;
  margin: 1rem 0 0.5rem;
}

.categoria-publicacion {
  font-size: 0.95rem;
  color: var(--text-muted);
  margin-bottom: 1rem;
}

.imagen-publicacion {
  width: 100%;
  border-radius: 0.75rem;
  margin: 1rem 0;
}

.descripcion-publicacion {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}

.interacciones {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.btn-like, .btn-comentar {
  border-radius: var(--border-radius);
  background-color: var(--russian-violet);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.btn-like:hover, .btn-comentar:hover {
  
  background-color: var(--tekhelet);
}

.form-comentario {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.form-comentario textarea {
    border-radius: var(--border-radius);

  resize: none;
  padding: 0.75rem;
  border-radius: var(--rounded);
  border: 1px solid #ccc;
  font-family: inherit;
}

.form-comentario button {
    border-radius: var(--border-radius);

  align-self: flex-end;
  padding: 0.5rem 1rem;
  /*background-color: var(--accent);*/
  color: white;
  border: none;
  background-color: var(--russian-violet);
  cursor: pointer;
}

.lista-comentarios .comentario {
  padding: 0.75rem;
  background-color: #f4f4f4;
  border-radius: var(--rounded);
  margin-bottom: 0.5rem;
}
